# Compilados y binarios de .NET
**/bin/
**/obj/
/publish/

# Visual Studio
.vs/
/*.user
/*.suo
/*.userosscache
/*.userprefs

# Rider
.idea/
/*.sln.iml

# Paquetes NuGet
*.nupkg
*.snupkg
packages/

TestResults/

logs/
/*.log

/.env
.env.local
.env.*.local*.patch
