# --- Base de datos MySQL ---
MYSQL_HOST=changeme
MYSQL_PORT=changeme
MYSQL_DB=changeme
MYSQL_USER=changeme
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

# --- Twilio ---
TWILIO_SID=changeme
TWILIO_TOKEN=changeme
TWILIO_FROM=changeme

# --- ASP.NET Core ---
ASPNETCORE_ENVIRONMENT=changeme
DOTNET_USE_POLLING_FILE_WATCHER=changeme

# --- JWT ---
JWT_SECRET=changeme
JWT_ISSUER=changeme
JWT_AUDIENCE=changeme
