MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=bar_tasca_db
MYSQL_USER=bar_tasca_user
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme

TWILIO_SID=changeme
TWILIO_TOKEN=changeme
TWILIO_FROM=+15005550006

ASPNETCORE_ENVIRONMENT=Development
